# Dependencies
/node_modules
/studio/node_modules
/studio/dist
/studio/.sanity
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/

# Production
/build

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
